<status>
<div class="success">Success :-) Check the progress at <%= ENV["DELUGE_WEB_URL"] %></div>
<div class="fail">Fail :-( Is the file already downloading? Check at <%= ENV["DELUGE_WEB_URL"] %></div>
</status>

<header>
<%= form_for :search, method: "get" do |f| %>
      <%= f.label :search %>
      <%= f.text_field :search %>
      <%= f.submit %>
<% end %>
</header>

<results>
<% if not @results.nil? %>
    <table>
      <tr>
        <th>From</th><th>Title</th><th>Download</th><th>Details</th><th>Size</th><th>SE</th><th>LE</th>
      </tr>
      <% begin %>
          <% @results.each do |source, response_object| %>
            <%  response_object.each do |torrent_name, array|
              rank=array[0]
              magnet=array[1]
              detail_page=array[2]
              seeders=array[3]
              leechers=array[4]
              size=array[5] %>
               <tr>
                 <th><%= source %></th>
                 <th><%= torrent_name %></th>
                 <th><a href="#" onclick='newTorrent("<%= magnet %>")'>download</a></th>
                 <th><a href="<%= detail_page %>">details</a></th>
                 <th><%= size %></th>
                 <th><%= seeders %></th>
                 <th><%= leechers %></th>
               </tr>
           <% end %>
          <% end %>
        <%  rescue => explode %>
           ERROR: <% explode %>
      </table>
  <% end %>
<% end %>
</results>